*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

.cell{
    border: 1px solid grey;
    width: 50px;
    height: 50px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 800px;
    max-width: fit-content;
    height: 500px;
    margin-left: 100px;
    margin-top: 50px;
}
h1{
    display: flex;
    justify-content: center;
    align-self: flex-end;
}
/*h5{
    display: flex;
    justify-content: center;
    align-items: center;
}
*/
.black{
    background-color: black;
}