* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

.cell {
    border: 1px solid black;
}

.container {
    display: flex;
    width: 600px;
    height: 600px;
    margin: 100px auto;
    flex-wrap: wrap;
    border: solid;
    overflow: hidden;
}

h1 {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    height: 50px;
}

.values {
    display: flex;
    border: 2px solid rgb(0, 255, 255);
    background-color: darkblue;
    color: aliceblue;
    flex-wrap: wrap;
    margin: 5px;
    text-align: center;
}